In [1]:
import os
import pymysql
import pandas as pd

conn = pymysql.connect(
    host='host.docker.internal',
    port=int(3306),
    user="root",
    passwd='my-secret-pw',
    db="mysql",
    charset='utf8mb4')

df = pd.read_sql_query("SELECT * FROM user",
    conn)
df.tail(10)

,Host,User,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv,Reload_priv,Shutdown_priv,...,password_expired,password_last_changed,password_lifetime,account_locked,Create_role_priv,Drop_role_priv,Password_reuse_history,Password_reuse_time,Password_require_current,User_attributes
0,%,root,Y,Y,Y,Y,Y,Y,Y,Y,...,N,2024-01-30 03:53:22,None,N,Y,Y,None,None,None,None
1,localhost,mysql.infoschema,Y,N,N,N,N,N,N,N,...,N,2024-01-30 03:53:16,None,Y,N,N,None,None,None,None
2,localhost,mysql.session,N,N,N,N,N,N,N,Y,...,N,2024-01-30 03:53:16,None,Y,N,N,None,None,None,None
3,localhost,mysql.sys,N,N,N,N,N,N,N,N,...,N,2024-01-30 03:53:16,None,Y,N,N,None,None,None,None
4,localhost,root,Y,Y,Y,Y,Y,Y,Y,Y,...,N,2024-01-30 03:53:22,None,N,Y,Y,None,None,None,None